{% extends 'user.html' %}
{% block title %}
    借阅信息
{% endblock %}
{% block right_content %}
    <div class="content-page" style="height: 800px;">
        <!-- Start content -->
        <div class="content">
            <!-- row start -->
            <div class="am-g">

                <!-- col start -->
                <div class="am-u-md-6">
                    <div class="card-box">
                        <table class="am-table  am-table-striped">
                            <thead>
                            <tr>
                                <th>借阅图书</th>
                                <th>借阅时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for record in borrow %}
                                <tr>
                                    <td>{{ record.book_id }}</td>
                                    <td>{{ record.time|date:"Y年 m月d日" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="am-u-md-6">
                    <div class="card-box">
                        <table class="am-table  am-table-striped">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>阅读量</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for record in rank %}
                                <tr>
                                    <td>{{ record.user_id }}</td>
                                    <td>{{ record.user_id__count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->


        </div>
    </div>
{% endblock %}

