{% extends 'user.html' %}
{% block title %}
    借阅信息
{% endblock %}
{% block right_content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="am-g">
                <div class="am-u-md-6">
                    <!-- 折线图堆叠 -->
                    <div class="card-box">
                        <div id="pie1" style="width: 100%;height: 300px;"></div>
                    </div>
                </div>

                <div class="am-u-md-6">
                    <!-- 堆叠区域图  -->
                    <div class="card-box">
                        <div id="pie2" style="width: 100%;height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-md-12">
                    <!-- Step Line -->
                    <div class="card-box">
                        <div id="pie3" style="width: 100%;height: 500px;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        (function () {
            var myChart = echarts.init(document.getElementById("pie1"));
            data = [];
            label = [];
            {#            var raw_data = {{ shopping_records|safe }};#}
            {#            for (var i = 0; i < raw_data.length; i++) {#}
            {#                data.push({value: raw_data[i][1], name: raw_data[i][0]})#}
            {#                label.push(raw_data[i][0])#}
            {#            }#}


            {#            myChart.setOption(option);#}
        })();
        (function () {
            var myChart = echarts.init(document.getElementById("pie2"));
            data = [];
            label = [];
            {#            var raw_data = {{ income_records|safe }};#}
            {#            for (var i = 0; i < raw_data.length; i++) {#}
            {#                data.push({value: raw_data[i][1], name: raw_data[i][0]})#}
            {#                label.push(raw_data[i][0])#}
            {#            }#}
            {##}
            {##}
            {#            myChart.setOption(option);#}
        })();
        (function () {
            var myChart = echarts.init(document.getElementById("pie3"));
            data1 = {{ week_read|safe }};
            data2 = [];

            option = {
                title: {
                    text: '本周阅读量',
                    subtext: '校园大数据'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['最高气温', '最低气温']
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        dataView: {readOnly: false},
                        magicType: {type: ['line', 'bar']},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} 本'
                    }
                },
                series: [
                    {
                        name: '每日阅读量',
                        type: 'line',
                        data: data1,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'}
                            ]
                        }
                    }
                ]
            };


            myChart.setOption(option);
        })();


    </script>
{% endblock %}