{% extends 'user.html' %}
{% load static %}
{% block title %}
    欢迎登陆
{% endblock %}

{% block import_script %}

{% endblock %}

{% block right_content %}
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div style="height: 40px"></div>
        <div class="content">
            <!-- row start -->
            <div class="am-g">
                <!-- col start -->
                <div class="am-u-md-12">
                    <div class="card-box" style="height: 400px">
                        {% if reward %}
                            <p>
                                恭喜您，您获得过
                                {% for i in reward %}
                                    {{ i.level }}等
                                {% endfor %}
                                奖学金
                            </p>
                        {% else %}
                            <p>很遗憾，您从未获得过奖学金！再接再厉!</p>
                        {% endif %}
                    </div>
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->
            <div class="am-g">
                <!-- Row start -->

                {% for key,value in scores.items %}
                    <div class="am-u-sm-{{ width }}">
                        <div class="card-box">
                            <!-- col start -->
                            <table class="am-table" style="height: 500px">
                                <thead>
                                <tr>
                                    <th>学年</th>
                                    <th>学期</th>
                                    <th>课程编号</th>
                                    <th>成绩</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in value %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        {% for x in i %}
                                            <td>{{ x }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <!-- col end -->
                        </div>
                    </div>
                {% endfor %}

                <!-- Row end -->
            </div>


        </div>
    </div>
    <!-- end right Content here -->

{% endblock %}

{% block  inport_script2 %}
{% endblock %}

{% block js %}
    <script>(function (T, h, i, n, k, P, a, g, e) {
        g = function () {
            P = h.createElement(i);
            a = h.getElementsByTagName(i)[0];
            P.src = k;
            P.charset = "utf-8";
            P.async = 1;
            a.parentNode.insertBefore(P, a)
        };
        T["ThinkPageWeatherWidgetObject"] = n;
        T[n] || (T[n] = function () {
            (T[n].q = T[n].q || []).push(arguments)
        });
        T[n].l = +new Date();
        if (T.attachEvent) {
            T.attachEvent("onload", g)
        } else {
            T.addEventListener("load", g, false)
        }
    }(window, document, "script", "tpwidget", "//widget.seniverse.com/widget/chameleon.js"))</script>
    <script>tpwidget("init", {
        "flavor": "bubble",
        "location": "WX4FBXXFKE4F",
        "geolocation": "enabled",
        "position": "top-right",
        "margin": "10px 10px",
        "language": "zh-chs",
        "unit": "c",
        "theme": "chameleon",
        "uid": "U3CD86694D",
        "hash": "6b442f473a2e941016ff1d96b6fc5100"
    });
    tpwidget("show");</script>
{% endblock %}